.idea/*
.vscode/*
*.sqlite
*.pyc
wks*.*
conf/settings/local.py
cobertura-coverage.xml
.coverage
junit.xml
nosetests.xml
coverage.xml
.directory

#Media
media/*

#Autoenv files
.autoenv.zsh
.autoenv_leave.zsh

cpd-report.xml
npm-debug.log

node_modules/
.python-version
.env

.nvmrc

# jupyter
.ipynb_checkpoints

.DS_Store

.vagrant
.ruby-version
.rbenv-gemsets
