.idea/*
.vscode/*
*.sqlite
*.pyc
wks*.*
conf/settings/local.py
cobertura-coverage.xml
.coverage
junit.xml
nosetests.xml
coverage.xml
.directory

#Media
series_tiempo_ar_api/media/*

#Autoenv files
.autoenv.zsh
.autoenv_leave.zsh

#Workspaces
wks.*

cpd-report.xml
npm-debug.log

node_modules/
.python-version
.env

# Archivos fuente de las distribuciones
media/distribution_raw
datajson_sample/
.nvmrc
