#!/bin/sh

WORKER_NAME="$@"

echo "Starting Worker $WORKER_NAME"

. {{ application_virtualenv_dir }}bin/activate

export DJANGO_SETTINGS_MODULE={{ application_settings_module }}

# I can't trust in hostnames :/
RANDOM_IDENTIFIER=$(date +%s | sha256sum | base64 | head -c 32 ; echo)

python {{ application_dir }}manage.py rqworker --name "WORKER-$WORKER_NAME-$RANDOM_IDENTIFIER" high default low scrapping
