[Unit]
Description=Backup psql database

[Service]
Type=oneshot
User={{ application_user }}
Group={{ application_user }}
ExecStart=/bin/bash {{ psql_backup_bin }}

[Install]
WantedBy=default.target