#!/bin/sh

WORKER_NAME="$@"

echo "Starting Worker $WORKER_NAME"

. {{ application_virtualenv_dir }}bin/activate

export DJANGO_SETTINGS_MODULE={{ application_settings_module }}

python {{ application_dir }}manage.py rqworker --name "$WORKER_NAME" high default low scrapping
