#Taken from: http://docs.gunicorn.org/en/stable/deploy.html
[Unit]
Description=Gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile={{ gunicorn_pid }}
User={{ gunicorn_user }}
Group={{ gunicorn_user }}
WorkingDirectory={{ application_dir }}
ExecStart={{ run_gunicorn_bin }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
