[Unit]
Description=Rqworker daemon
After=network.target

[Service]
User={{ worker_user }}
Group={{ worker_group }}
WorkingDirectory={{ application_dir }}
ExecStart={{ run_rqworker_bin }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
