#!/bin/sh

NAME="{{ application_name }}"
echo "Starting $NAME"

. {{ application_virtualenv_dir }}bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn --config {{ gunicorn_conf }} {{ gunicorn_module_app }}
