<!DOCTYPE html>
<html lang="en">
<body>
    <p>Horario de finalización: {{ finish_time }}</p>
    {% if not is_partial_report %}
    <p>Catálogos:</p>
    <ul>
        <li>nuevos: {{ catalogos_nuevos_cant }}</li>
        <li>actualizados: {{ catalogos_actualizados_cant }}</li>
        <li>no actualizados: {{ catalogos_no_actualizados_cant }}</li>
        <li>totales: {{ catalogos_cant }}</li>
        <li>error: {{ catalogos_error_cant }}</li>
    </ul>
    {% endif %}

    <p>Datasets:</p>
    <ul>
        <li>indexables (actualizados): {{ datasets_actualizados_cant }}</li>
        <li>indexables (no actualizados): {{ datasets_no_actualizados_cant }}</li>
        <li>indexables (discontinuos): {{ datasets_indexables_discontinuados_cant }}</li>
        <li>indexables (totales): {{ datasets_indexables_cant }}</li>
        <li>error: {{ datasets_error_cant }}</li>
        <li>no indexables (nuevos): {{ datasets_nuevos_cant }}</li>
        <li>no indexables (anteriores): {{ datasets_no_indexables_anteriores_cant }}</li>
        <li>no indexables (discontinuos): {{ datasets_no_indexables_discontinuados_cant }}</li>
        <li>no indexables (totales): {{ datasets_no_indexables_cant }}</li>
        <li>totales (disponibles para indexar): {{ datasets_disponibles_cant }}</li>
        <li>totales (accesibles por API): {{ datasets_cant }}</li>
    </ul>

    <p>Distribuciones:</p>
    <ul>
        <li>indexables (actualizados): {{ distribuciones_actualizadas_cant }}</li>
        <li>indexables (no actualizados): {{ distribuciones_no_actualizadas_cant }}</li>
        <li>indexables (discontinuos): {{ distribuciones_indexables_discontinuadas_cant }}</li>
        <li>indexables (totales): {{ distribuciones_indexables_cant }}</li>
        <li>error: {{ distribuciones_error_cant }}</li>
        <li>no indexables (nuevos): {{ distribuciones_nuevas_cant }}</li>
        <li>no indexables (anteriores): {{ distribuciones_no_indexables_anteriores_cant }}</li>
        <li>no indexables (discontinuos): {{ distribuciones_no_indexables_discontinuadas_cant }}</li>
        <li>no indexables (totales): {{ distribuciones_no_indexables_cant }}</li>
        <li>totales (disponibles para indexar): {{ distribuciones_disponibles_cant }}</li>
        <li>totales (accesibles por API): {{ distribuciones_cant }}</li>
    </ul>

    <p>Series:</p>
    <ul>
        <li>indexables (actualizados): {{ series_actualizadas_cant }}</li>
        <li>indexables (no actualizados): {{ series_no_actualizadas_cant }}</li>
        <li>indexables (discontinuos): {{ series_indexables_discontinuadas_cant }}</li>
        <li>indexables (totales): {{ series_indexables_cant }}</li>
        <li>error: {{ series_error_cant }}</li>
        <li>no indexables (nuevos): {{ series_nuevas_cant }}</li>
        <li>no indexables (anteriores): {{ series_no_indexables_anteriores_cant }}</li>
        <li>no indexables (discontinuos): {{ series_no_indexables_discontinuadas_cant }}</li>
        <li>no indexables (totales): {{ series_no_indexables_cant }}</li>
        <li>totales (publicados en catálogos): {{ series_disponibles_cant }}</li>
        <li>totales (accesibles por API): {{ field_cant }}</li>
    </ul>
</body>
</html>